@tailwind base;

@tailwind components;

@tailwind utilities;

.dialog{
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}